.env
env/*
bot/bot.log
scraper/scraper.log
scraper/ofertas.json
scraper/debug/*
node_modules/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
__pycache__/
*.py[cod]
*.egg-info/
.python-version
venv/
.env/
ENV/
package-lock.json
!env/.env.example